.confirmation-container {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--clr-bg-dark-trans);
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  z-index: 100;

  .confirmation-box {
    display: flex;
    flex-direction: column;
    padding: 40px;
    color: var(--clr-text1);
    background-color: var(--clr-bg-light);
    border-radius: 10px;
    box-shadow: var(--clr-box-shadow);
    justify-content: center;
    align-items: center;

    i {
      padding: 4px;
      margin-bottom: 10px;
      color: var(--clr-danger);
      font-size: 3rem;
      line-height: 0;
      background-color: var(--clr-danger3);
      border-radius: 200px;
    }

    p.note-title {
      margin-bottom: 10px;
      font-weight: 700;
    }

    .option-box {
      margin-top: 40px;

      .option-btn {
        width: 100px;
        padding-block: 10px;
        color: var(--clr-text-second3);
        font-weight: 700;
        border: none;
        transition: all 0.2s;
        cursor: pointer;
      }

      .yes-btn {
        color: var(--clr-danger);
        border-radius: 5px 0 0 5px;
      }

      .cancel-btn {
        border-radius: 0 5px 5px 0;
      }

      .yes-btn:hover {
        color: var(--clr-text-second);
        background-color: var(--clr-danger);
      }

      .cancel-btn:hover {
        color: var(--clr-text-second);
        background-color: var(--clr-text-second3);
      }
    }
  }
}
