.control-bar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  border-radius: 20px;
  justify-content: space-between;
  z-index: 90;
}

.control-bar-container .col1 {
  display: flex;
  padding: 0 20px;
  height: 70px;
  gap: 30px;
  background-color: var(--clr-bg-light3);
  box-shadow: var(--clr-box-shadow2);
  justify-content: flex-end;
  align-items: center;
}

.control-bar-container .col1 .hamburger-menu {
  display: none;
  color: var(--clr-text1);
  font-size: 1.6rem;
  cursor: pointer;
}

.control-bar-container .col1 .hamburger-menu:hover {
  color: var(--clr-action);
}

.control-bar-container .col1 .account-info {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.control-bar-container .col1 .account-info .profile-pic {
  width: 35px;
  height: 35px;
  color: var(--clr-text1);
  font-size: 2.2rem;
  line-height: 0;
  border-radius: 50%;
  object-fit: cover;
}

.control-bar-container .col1 .account-info .profile-detail {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  color: var(--clr-text1);
  justify-content: center;
}

.control-bar-container .col1 .account-info .profile-detail h5.email {
  color: var(--clr-text2);
}

.control-bar-container .col1 .account-info .profile-detail h4.username,
.control-bar-container .col1 .account-info .profile-detail h5.email {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.control-bar-container .col1 .account-info .option-btn {
  color: var(--clr-text1);
  transition: all 0.2s;
  cursor: pointer;
}

.control-bar-container .col1 .account-info .option-btn:hover {
  color: var(--clr-action);
}

.control-bar-container .col1 .account-info .option-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-height: 0;
  top: 170%;
  right: 0;
  background-color: var(--clr-bg-light);
  box-shadow: var(--clr-box-shadow2);
  border-radius: 6px;
  opacity: 0;
  transition: all 0.2s;
  overflow: hidden;
}

.control-bar-container .col1 .account-info .option-menu span.profile-btn,
.control-bar-container .col1 .account-info .option-menu p.logout-btn {
  padding: 10px 50px;
  padding-block: 10px;
  color: var(--clr-text1);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.control-bar-container .col1 .account-info .option-menu p.logout-btn {
  display: flex;
  gap: 6px;
  border-top: 1px solid var(--clr-bg-dark-trans2);
  align-items: center;
  justify-content: center;
}

i {
  font-size: 1.1rem;
}

lord-icon {
  width: 22px;
  height: 22px;
}

.control-bar-container .col1 .account-info .option-menu span.profile-btn:hover,
.control-bar-container .col1 .account-info .option-menu p.logout-btn:hover {
  color: var(--clr-bg-light);
  background-color: var(--clr-action);
}

.control-bar-container .col1 .account-info .option-menu.active {
  max-height: 100px;
  opacity: 1;
}

.control-bar-container .col2 {
  display: flex;
  padding: 0 40px 10px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.control-bar-container .col2 .sorting-container {
  display: flex;
  flex: 1;
  gap: 10px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.control-bar-container .col2 .sorting-container .sort-reverse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-bar-container .col2 .sorting-container::-webkit-scrollbar {
  display: none;
}

.control-bar-container .col2 .sorting-container .sort-reverse {
  font-size: 1.3rem;
  line-height: 0;
}

.control-bar-container .col2 .sorting-container .sort-reverse,
.control-bar-container .col2 .sorting-container .sort-menu {
  padding: 6px 10px;
  white-space: nowrap;
  background-color: var(--clr-action2);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.control-bar-container .col2 .sorting-container .sort-reverse:hover,
.control-bar-container .col2 .sorting-container .sort-menu:hover {
  background-color: var(--clr-action);
}

.control-bar-container .col2 .sorting-container .sort-reverse.active,
.control-bar-container .col2 .sorting-container .sort-menu.active {
  background-color: var(--clr-action);
}

.control-bar-container .col2 button.add-note-btn {
  display: flex;
  gap: 10px;
  color: var(--clr-action);
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  background: none;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.control-bar-container .col2 button.add-note-btn i {
  font-size: 1.8rem;
  line-height: 0;
}

.control-bar-container .col2 button.add-note-btn:hover {
  color: var(--clr-action2);
}

/* Media Query */
@media screen and (max-width: 992px) {
  .control-bar-container .col1 {
    justify-content: space-between;
  }

  .control-bar-container .col1 .hamburger-menu {
    display: inline;
  }

  .control-bar-container .col2 {
    padding: 0 40px 10px;
  }
}

@media (max-width: 576px) {
  .control-bar-container .col1 .account-info .profile-detail {
    display: none;
  }

  .control-bar-container .col2 {
    padding: 0 10px 10px;
  }
}
