#loginPage {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  color: var(--clr-text-second);
  background: linear-gradient(to bottom, var(--clr-sky-dark) 0%, var(--clr-sky-light) 100%);
  align-items: center;
  overflow-y: hidden;
}

#loginPage::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 200%;
  left: 0;
  bottom: var(--height-sky);
  background: linear-gradient(to bottom, var(--clr-sky-dark) 0%, var(--clr-sky-light) 100%);
  transition: 1s;
}

#loginPage .form-container {
  position: relative;
  display: flex;
  flex: 1.5;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

#loginPage .form-container .contents {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  gap: 30px;
  padding-block: 20px;
  background-color: var(--clr-bg-light);
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

#loginPage .form-container .contents::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  left: -15px;
  background-color: var(--clr-bg-light);
  transition: all 1s;
}

#loginPage .form-container .contents * {
  z-index: 1;
}

#loginPage .form-container .contents h1.title {
  color: var(--clr-text-second4);
}

#loginPage .form-container .contents .login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#loginPage .form-container .contents .login-form .input-bar {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: var(--clr-text3);
  border-radius: 5px;
  box-shadow: var(--clr-box-shadow3);
  justify-content: center;
  align-items: center;
}

#loginPage .form-container .contents .login-form .input-bar i {
  color: var(--clr-text-second3);
  cursor: pointer;
}

#loginPage .form-container .contents .login-form .input-bar i:hover {
  color: var(--clr-action);
}

#loginPage .form-container .contents .login-form .input-bar input {
  width: 100%;
  background-color: transparent;
  background: none;
  outline: none;
  border: none;
}

#loginPage .form-container .contents .login-form p.error-message {
  padding: 4px 20px;
  color: var(--clr-text-second);
  font-size: 0.9rem;
  font-weight: 700;
  background-color: var(--clr-danger);
  border-radius: 6px;
}

#loginPage .form-container .contents .login-form p {
  color: var(--clr-text1);
  text-align: center;
}

#loginPage .form-container .contents .login-form p span {
  color: var(--clr-text1);
  font-weight: 700;
  text-decoration: underline;
  white-space: nowrap;
  cursor: pointer;
}

#loginPage .form-container .contents .login-form p span:hover {
  color: var(--clr-action);
}

#loginPage .form-container .contents .login-form button {
  margin-top: 20px;
  padding: 10px 40px;
  color: var(--clr-text-second);
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--clr-accent);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

#loginPage .form-container .contents .login-form button:hover {
  background-color: var(--clr-accent2);
}

/* Media Query */
@media screen and (max-width: 1200px) {
  #loginPage .form-container {
    flex: 2;
  }
}

@media screen and (max-width: 992px) {
  #loginPage {
    flex-direction: column;
    height: fit-content;
    overflow-y: scroll;
  }

  #loginPage .form-container {
    flex-direction: column;
    flex: none;
    width: 100%;
  }

  #loginPage .form-container .contents {
    flex: 1;
    width: 100%;
  }

  #loginPage .form-container .contents::before {
    width: 100%;
    height: 30px;
    top: -15px;
    left: 0;
  }
}

@media screen and (max-width: 576px) {
  #loginPage .form-container {
    height: fit-content;
    min-height: 100vh;
  }
}
