#newNotePage {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  overflow-y: scroll;
}

#newNotePage h1.page-title {
  color: var(--clr-text1);
}

#newNotePage #newNoteForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  padding-block: 20px;
}

#newNotePage #newNoteForm .title-input {
  padding: 10px 20px;
  color: var(--clr-text1);
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--clr-bg-dark-trans3);
  box-shadow: var(--clr-box-shadow3);
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

#newNotePage #newNoteForm .title-input:hover {
  color: var(--clr-action);
}

#newNotePage #newNoteForm .title-input:focus {
  background-color: var(--clr-bg-light);
  cursor: text;
}

#newNotePage #newNoteForm .title-input:focus:hover {
  color: var(--clr-text1);
}

#newNotePage #newNoteForm .title-input:focus + p.title-limit {
  display: block;
}

#newNotePage #newNoteForm p.title-limit {
  display: none;
  width: fit-content;
  padding: 5px 20px;
  font-size: 0.8rem;
  border-radius: 5px;
}

#newNotePage #newNoteForm .body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--clr-bg-dark-trans3);
  border-radius: 5px;
}

#newNotePage #newNoteForm .body button.add-code-btn {
  display: flex;
  margin-top: 20px;
  padding: 5px 20px;
  gap: 10px;
  color: var(--clr-bg-light);
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--clr-action);
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#newNotePage #newNoteForm .body button.add-code-btn:hover {
  background-color: var(--clr-action2);
}

#newNotePage #newNoteForm .body button.add-code-btn i {
  font-size: 1.2rem;
}

#newNotePage #newNoteForm .action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: flex-end;
}

#newNotePage #newNoteForm .action-buttons button {
  display: flex;
  width: fit-content;
  padding: 10px 20px;
  gap: 10px;
  color: var(--clr-bg-light);
  font-size: 1rem;
  background-color: var(--clr-action);
  border: none;
  border-radius: 5px;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
}

#newNotePage #newNoteForm .action-buttons button.save-note-btn:hover {
  background-color: var(--clr-action2);
}

#newNotePage #newNoteForm .action-buttons button.cancel-btn {
  color: var(--clr-text-second);
  background-color: var(--clr-danger);
}

#newNotePage #newNoteForm .action-buttons button.cancel-btn:hover {
  color: var(--clr-danger);
  background-color: var(--clr-danger3);
}

lord-icon {
  height: 20px;
}
