.add-note-form-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--clr-bg-dark-trans);
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  z-index: 100;

  .form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 500px;
    padding: 60px 40px;
    gap: 30px;
    color: var(--clr-text1);
    background-color: var(--clr-bg-light-trans2);
    border: 1px solid var(--clr-bg-light-trans);
    border-radius: 20px;
    justify-content: center;
    align-items: center;

    i.close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: var(--clr-danger);
      font-size: 2rem;
      transition: all 0.2s;
      cursor: pointer;
    }

    i.close-btn:hover {
      color: var(--clr-danger2);
    }

    form.add-note-form {
      display: flex;
      flex-direction: column;
      width: 90vw;
      max-width: 400px;
      gap: 30px;

      .input-bar,
      .textarea-bar {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        outline: none;
        border: none;
        resize: none;
      }

      .input-bar:focus + p {
        display: block;
      }

      p.title-limit {
        display: none;
        margin-top: -20px;
        color: greenyellow;
        font-size: 0.9rem;
      }

      button {
        padding: 10px 40px;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        background-color: var(--clr-action);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.2s;
      }

      button:hover {
        background-color: var(--clr-action2);
      }
    }
  }
}
