#settingsPage {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding-inline: 20px;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  /* background-color: red; */
}

#settingsPage::-webkit-scrollbar {
  display: none;
}

#settingsPage .settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  padding-block: 20px;
  gap: 20px;
  color: var(--clr-text1);
  border-radius: 10px;
}

#settingsPage .settings h1.page-title {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--clr-bg-dark-trans2);
}

#settingsPage .settings .general-settings,
#settingsPage .settings .account-settings {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--clr-bg-light);
  box-shadow: var(--clr-box-shadow3);
  border-radius: 5px;
}
