.setting-item-container {
  display: flex;
  padding-block: 10px;
  gap: 20px;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-bg-dark-trans3);
}

.setting-item-container:last-of-type {
  border-bottom: none;
}

.setting-item-container .setting-info {
  width: 100%;
  max-width: 600px;
  overflow-x: hidden;
}

.setting-item-container .setting-info h4.setting-title {
  color: var(--clr-action);
}

.setting-item-container .setting-info p.account-setting-desc {
  color: var(--clr-text2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.setting-item-container .setting-info p.change-password-btn {
  width: fit-content;
  color: var(--clr-action2);
  cursor: pointer;
}

.setting-item-container .setting-info p.change-password-btn:hover {
  color: var(--clr-action);
  border-bottom: 1px solid var(--clr-action2);
}

.setting-item-container .setting-action {
  display: flex;
  align-items: center;
}

.setting-item-container .setting-action .toggle-btn {
  position: relative;
  width: 60px;
  height: 30px;
  padding: 4px;
  background-color: var(--clr-text2);
  border-radius: 50px;
  transition: all 0.2s;
  cursor: pointer;
}

.setting-item-container .setting-action .toggle-btn .toggler {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 4px;
  margin-inline: 0 auto;
  background-color: var(--clr-bg-light);
  border-radius: 50%;
  transition: all 0.2s;
}

.setting-item-container .setting-action .toggle-btn:hover {
  background-color: var(--clr-text3);
}

.setting-item-container .setting-action .active {
  background-color: var(--clr-action);
}

.setting-item-container .setting-action .active .toggler {
  left: 34px;
}

.setting-item-container .setting-action .active:hover {
  background-color: var(--clr-action2);
}

.setting-item-container .setting-action button.edit-btn {
  display: flex;
  padding: 10px 15px;
  gap: 5px;
  color: var(--clr-text-second);
  font-size: 1rem;
  background-color: var(--clr-action);
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.setting-item-container .setting-action button.edit-btn:hover {
  background-color: var(--clr-action2);
}

/* Media Query */
@media screen and (max-width: 576px) {
  .setting-item-container .setting-action .toggle-btn {
    scale: 0.9;
  }

  .setting-item-container .setting-action button.edit-btn {
    padding: 8px;
  }
}
